// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #BBB;
}

table {
  background-color: #FFF;
  text-align: center;
  vertical-align: top;
  tr {
    border: 1px solid black;
    td{
      border: 1px dotted black;
      max-width: 400px;
      word-wrap: normal;
      overflow: hidden;
    }
  }
}

form {
  input{
    border-radius: 5px;
  }
  input.submit{
    border-radius: 5px;
    background-color: #ff9900;
  }
}
